html {
    background-color: rgb(240, 248, 255);
}

.pageContainer {
    font-family: cursive;
}

.centerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.decor {
    position: absolute;
    left: 0;
    top: 0;
}

.decor2 {
    position: absolute;
    right: 0;
    bottom: 0;
}